input {
  /* display: block; */
  width: 400px;
}
textarea {
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}

.hamburger {
  border: 1px solid #464646;
  font-size: 30px;
  float: right;
  background-color: #464646;
  -webkit-text-fill-color: white;
  margin-right: 1%;
}

.hamburger:hover, .hamburger:focus {
  background-color: #fafafa;
  -webkit-text-fill-color: black;
}

input, .close-icon, .update-field{
  position: relative;
}

.close-icon {
  display: inline-block;
  background: transparent;
  border: transparent;
}
.close-icon::after {
  content: 'X';
  color: black;
  display: block;
  right: 34px;
  background: red;
  position: absolute;
  /* top: 0px; */
  bottom: 0;
}

.update-title:not(:valid) ~ .close-icon {
  display: none;
}